<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.littlejie.demo">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 监听网络状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 联系人读写权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <!-- 绑定系统通知服务 -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <application
        android:name=".modules.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.MainActivity"
            android:theme="@style/NoActionBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Android 入门 -->
        <!-- Android 四大组件 -->
        <!-- Activity -->
        <activity android:name=".modules.base.component.activity.ActivityListActivity"/>
        <!-- Service -->
        <activity android:name=".modules.base.component.service.ServiceListActivity"/>
        <!-- ContentProvider -->
        <activity android:name=".modules.base.component.provider.ProviderListActivity"/>
        <!-- Broadcast -->
        <activity android:name=".modules.base.component.broadcast.BroadcastListActivity"/>
        <!-- 系统广播 -->
        <activity android:name=".modules.base.component.broadcast.system.BatteryReceiverActivity"/>
        <activity android:name=".modules.base.component.broadcast.system.WifiStateActivity"/>
        <!-- Fragment 生命周期 -->
        <activity android:name=".modules.base.fragment.life.FragmentLifeListActivity"/>
        <activity android:name=".modules.base.fragment.life.SimpleLifeActivity"/>
        <activity android:name=".modules.base.fragment.life.LifeWithBackStackActivity"/>
        <activity android:name=".modules.base.fragment.life.LifeWithHideShowActivity"/>
        <activity android:name=".modules.base.fragment.life.LifeWithViewPagerActivity"/>
        <!-- Fragment 菜单 -->
        <activity android:name=".modules.base.fragment.menu.FragmentMenuActivity"/>
        <!-- Fragment 可见性 -->
        <activity android:name=".modules.base.fragment.visible.FragmentVisibleListActivity"/>
        <activity android:name=".modules.base.fragment.create.FragmentCreateListActivity"/>
        <activity android:name=".modules.base.fragment.create.StaticCreateActivity"/>
        <activity android:name=".modules.base.fragment.create.DynamicCreateActivity"/>

        <!-- UI -->
        <activity android:name=".modules.base.ui.DialogActivity"/>

        <!-- Notification -->
        <activity android:name=".modules.base.notification.SimplestNotificationActivity"/>
        <activity android:name=".modules.base.notification.SimpleNotificationActivity"/>
        <activity android:name=".modules.base.notification.NotificationEffectActivity"/>
        <activity android:name=".modules.base.notification.NotificationStyleActivity"/>
        <activity android:name=".modules.base.notification.TaskStackBuilderActivity"/>
        <activity android:name=".modules.base.notification.NotificationListenerServiceActivity"/>
        <activity android:name=".modules.base.notification.ProgressNotifyActivity"/>
        <activity android:name=".modules.base.notification.NormalResultActivity"/>
        <activity android:name=".modules.base.notification.SpecialResultActivity"/>
        <activity android:name=".modules.base.notification.NotificationPriorityActivity"/>
        <activity android:name=".modules.base.notification.HeadsUpNotificationActivity"/>
        <activity android:name=".modules.base.notification.CustomNotificationActivity"/>
        <activity android:name=".modules.base.notification.PendingIntentActivity"/>

        <!-- 多媒体 -->
        <activity android:name=".modules.base.media.FilterFileActivity"/>
        <activity android:name=".modules.base.media.SDCardActivity"/>
        <activity android:name=".modules.base.media.MediaObserverActivity"/>
        <activity android:name=".modules.base.media.SimpleFileManagerActivity"/>
        <activity android:name=".modules.base.media.MediaLibraryActivity"/>
        <activity android:name=".modules.base.media.ThumbnailsActivity"/>
        <activity android:name=".modules.base.media.FileActionActivity"/>

        <!-- 系统 -->
        <!-- Android 触摸事件分发 -->
        <activity android:name=".modules.base.system.touch.DispatchTouchEventActivity"/>
        <activity android:name=".modules.base.system.touch.ScrollActivity"/>
        <activity android:name=".modules.base.system.touch.ViewMoveActivity"/>
        <activity android:name=".modules.base.system.RuntimePermissionActivity"/>
        <activity android:name=".modules.base.system.ConnectiveActivity"/>
        <activity android:name=".modules.base.system.ClipboardActivity"/>
        <activity android:name=".modules.base.component.service.BinderServiceActivity"/>
        <activity android:name=".modules.base.system.thread.HandlerActivity"/>
        <activity android:name=".modules.base.system.PackageActivity"/>
        <!-- 注册分享 -->
        <!-- singleTask 可以防止打开多个分享页面 -->
        <activity
            android:name=".modules.base.system.ShareIntentActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <!-- 发送多个数据 -->
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <!-- <data android:mimeType="image/*" /> -->
                <!-- <data android:mimeType="video/*" /> -->
                <!-- <data android:mimeType="audio/*" /> -->
                <!-- <data android:mimeType="text/*" /> -->
                <!-- 接受所有类型的意图 -->
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <!-- Service -->
        <service
            android:name=".modules.base.notification.MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".modules.base.component.service.MyService"
            android:enabled="true"
            android:exported="true"/>

        <!-- Broadcast -->
        <receiver android:name=".modules.base.component.broadcast.StaticBroadcastReceiver">
            <intent-filter>
                <action android:name="com.littlejie.android.demo.static.broadcast"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>